<form class="" action="/named_players" method="post">
  <h1>Enter Player Names!</h1>
  <input type="text" name="player_1" value="enter player 1 here">
  <input type="text" name="player_2" value="enter player 2 here">
  <input type="submit" name="" value="Submit">
</form>
